body
{
    background: rgb(236, 236, 236);
    color: #606060;
    font-size: 12px;  
    margin: 0px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.container
{
    margin-left: 280px;
    margin-right: 280px;
    
}

a{
    text-decoration: none;
    color:#606060;
}

.section1{
    background: rgb(247, 247, 247);
    border-style:solid;
    border-color: rgb(226, 226, 226);
    border-width: 1.9px;
}

.section2, .section3, .section4, .section5{
    background: white;
    border-style:solid;
    border-color: rgb(226, 226, 226);
    border-width: 1.9px;
}

.mountain1{

    width:50px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 600px;
    
}

ul.menu{
    list-style: none;
    display: flex;
}

.top-nav{
    
    background: rgb(247, 247, 247);
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 30px;
    color:#606060;
    
}

li{
    margin: 0px 10px;
    font-size: 20px;
}

#btn1{
    background-color: #606060;
    color: white;
    border-style: none;
    padding: 5px;
    width: 110px;
    font-size: 18px;
}

h2{
    font-weight: normal;
    font-size: 30px;
    display: flex;
    justify-content: center;
    
}

.section2 h2{
    margin-top: 80px;
}

.section2 pre{
    margin-top: -8px;
    text-align: center;
    font-size: 13px;
    color: rgb(156, 155, 155);
    margin-bottom: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#btn2{
    background-color: #606060;
    color: white;
}

#btn2{
    border-style: none;
    padding: 12px;
    width: 160px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 116px;
}

.section4{
    display: flex;
    justify-content: center; 
}

.dashboard_products{
    margin-top: 38px;
    margin-bottom: 110px;
    display: inline-flex;
    padding: 20px;
}

.img_dash{
    height: 182px;
    width: 180px;
}

.name{
    color:blue;
    text-decoration: underline;
    font-size: 18px;
    margin-left: 5px;
}

.botonED, .botonEL{
    color: white;
    border-style: solid;
    border-width: 1.9px;
    padding: 8px;
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 40px;
    margin-left: 5px;
}

.botonED{
    background-color: rgb(4, 158, 4);
    width: 90px;
}

.botonEL{
    background-color: rgb(247, 82, 82);
    width: 100px;
    margin-top: 24px;
}

ul.menu_bot{
    list-style: none;
    display: flex;
}

.bot-nav{
    background: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 30px;
    color:#606060;
    
}

.section5 li{
    margin: 0px 10px;
    font-size: 16px;
    padding: 10px;
    margin-top: -15px;
}

.section5 img{
    width: 25px;
    padding-right: 5px;
}

.section5 p{
    font-size: 16px;
    font-weight: normal;
    display:flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 30px;
}