body
{
    background: rgb(236, 236, 236);
    color: #606060;
    font-size: 12px;  
    margin: 0px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.container
{
    margin-left: 280px;
    margin-right: 280px;
    
}

a{
    text-decoration: none;
    color:#606060;
}

.section1{
    background: white;
    border-style:solid;
    border-color: rgb(226, 226, 226);
    border-width: 1.9px;
}

.mountain1{

    width: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 630px;
    
}

ul.menu{
    list-style: none;
    display: flex;
}

.top-nav{
    
    background: white;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 30px;
    color:#606060;
    
}

li{
    margin: 0px 10px;
    font-size: 20px;
}

#btn1{
    background-color: #606060;
    color: white;
    border-style: none;
    padding: 5px;
    width: 110px;
    font-size: 18px;
}

h2{
    font-weight: normal;
    font-size: 30px;
    display: flex;
    justify-content: center;
    
}

.section2{
    background: rgb(247, 247, 247);
    border-style:solid;
    border-color: rgb(226, 226, 226);
    border-width: 1.9px;
}

.section2 h2{
    margin-top: 80px;
}

.section2 p{
    font-weight: normal;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: -18px;
    margin-bottom: 30px;
    color: rgb(185, 184, 184);
}

.section3{
    background: white;
    border-style:solid;
    border-color: rgb(226, 226, 226);
    border-width: 1.9px;
}

.textBoxes{
    display: flex;
    justify-content: center;
    
}

.info{
    
    margin: 5px;
    margin-top: 18px;
    padding: 11px; 
    font-size: 17px;
    padding-left: 3px;
    color: rgb(153, 153, 153);
    border-style:solid;
    border-width: 2px;
    border-color: rgb(168, 168, 168);
    border-radius: 3px;
}

#name, #lastname{
    margin-top: 50px;
}

#address, #address2{
    padding-right: 16px;
}

#country{
    padding-right: 190px;
    
}


#btn2{
    background-color: #606060;
    color: white;
}

#btn3{
    background: rgb(236, 235, 235);
    color: #606060;
    
}

#btn2, #btn3{
    
    margin: 5px;
    border-style: none;
    padding: 12px;
    width: 200px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.section3 h2{
    font-weight: normal;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: -12px;
    color: rgb(214, 213, 213);
}

.section3 pre{
    font-weight: normal;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-left: -268px;
    margin-top: -20px;
    margin-bottom: 30px;
    color: rgb(143, 142, 142);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ingresarLink{
    color:blue;
    text-decoration: underline;
}

.buttons{
    display: flex;
    justify-content: center;
    
}

.section4{
    background: white;
    border-style:solid;
    border-color: rgb(226, 226, 226);
    border-width: 1.9px;
}

ul.menu_bot{
    list-style: none;
    display: flex;
}

.bot-nav{
    background: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 30px;
    color:#606060;
    
}

.section4 li{
    margin: 0px 10px;
    font-size: 16px;
    padding: 10px;
    margin-top: -15px;
}

.section4 img{
    width: 25px;
    padding-right: 5px;
}

.section4 p{
    font-size: 16px;
    font-weight: normal;
    display:flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 30px;
}