:root
{
    --color_gris: #606060;
    --color_borde:rgb(226, 226, 226);
    --color_background: rgb(247, 247, 247);
}

.section1{
    background-color: var(--color_background);
}

.img-top{
    width: 50px;
}

.section1 .navbar{
    background-color: var(--color_background);
   
}

.section1 .navbar-brand,.collapse .nav-link {
    color: var(--color_gris);
}

.section1 .navbar-collapse
{
    display: flex;
    justify-content: flex-end;
}

h2{
    display: flex;
    justify-content: center;
    color: var(--color_gris);
}

#titulo1{
    font-weight: normal;
    margin-top: 100px;
    font-size: 40px;
}

.section2 h2{
    margin-top: 80px;
}

.section2 pre{
    margin-top: -8px;
    text-align: center;
    font-size: 13px;
    color: rgb(156, 155, 155);
    margin-bottom: 35px;
    font-family: var(--font-family);
}

#btn2{
    padding: 12px;
    width: 160px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 93px;
    background-color: #198754;
    color: white;
}

.card{
    margin: 20px;
  
    margin-bottom: 45px;
    
}

.productos_columnas, .card-title{
    display: flex;
    justify-content: center;

}

.card-img-top{
    height: 280px;
}

#btnEditar{
    margin-left: 55px;
    margin-right: 10px;
    width: 82.27px;
    height: 38px;
    background-color: rgb(4, 158, 4);
    border: none;
}

#btnEliminar{
    width: 82.27px;
    height: 38px;
    background-color: rgb(247, 82, 82);
    border: none;
}

.section5,.section3{
    border-style:solid;
    border-color: var(--color_borde);
    border-width: 1.9px;
    border-right: 0px;
    border-left: 0px;
}

.section5 .navbar{
    background-color: white
   
}

.section5 .navbar-brand,.collapse .nav-link {
    color: var(--color_gris);
}

.section5 .navbar-collapse
{
    display: flex;
    justify-content: center;
}

.section5 img{
    width: 30px;
    padding-right: 5px;
}

.section5 p{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
