:root
{
    --color_gris: #606060;
    --color_borde:rgb(226, 226, 226);
    --color_background: rgb(247, 247, 247);
}

.section1{
    background-color: var(--color_background);
}

.img-top{
    width: 50px;
}

.section1 .navbar{
    background-color: var(--color_background);
   
}

.section1 .navbar-brand,.collapse .nav-link {
    color: var(--color_gris);
}

.section1 .navbar-collapse
{
    display: flex;
    justify-content: flex-end;
}

h2{
    display: flex;
    justify-content: center;
    color: var(--color_gris);
}

#titulo1{
    font-weight: normal;
    margin-top: 100px;
    font-size: 40px;
}

.section2 h2{
    margin-top: 80px;
}

.section2 pre{
    margin-top: -8px;
    text-align: center;
    font-size: 13px;
    color: rgb(156, 155, 155);
    margin-bottom: 35px;
    font-family: var(--font-family);
}

.card{
    margin: 20px;
    margin-bottom: 45px; 
}

.productos_columnas,.card-title, .card-text{
    display: flex;
    justify-content: center;

}

.card-img-top{
    height: 280px;
}

.section3 p{
    color:blue;
    text-decoration: underline;
    margin-top: -28px;
}


.section4,.section3{
    border-style:solid;
    border-color: var(--color_borde);
    border-width: 1.9px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
}

.section4 .navbar{
    background-color: white
   
}

.section4 .navbar-brand,.collapse .nav-link {
    color: var(--color_gris);
}

.section4 .navbar-collapse
{
    display: flex;
    justify-content: center;
}

.section4 img{
    width: 30px;
    padding-right: 5px;
}

.section4 p{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}